<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://apps.axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://apps.axelor.com/xml/ns/object-views http://apps.axelor.com/xml/ns/object-views/object-views_0.7.xsd">

	<!-- PARENT MENU -->
	<menuitem name="menu-sn" title="Social Networking" priority="100"
		icon="img/socialnw.jpeg" />



	<!-- FIRST LEVEL MENU FOR FACEBOOK -->


	<menuitem name="menu-fb-sn" title="Facebook" parent="menu-sn"
		icon="img/facebook.jpg" />

	<!-- <menuitem name="menu-dome" title="Demo Test" parent="menu-fb-sn" action="action-demo"/> -->
	<!-- <action-view name="action-demo" model="com.axelor.sn.db.NewFile" title="Demo 
		FIle"> -->
	<!-- <view type="form" name="demo-form"/> -->
	<!-- </action-view> -->
	<menuitem name="menu-fb-personal-credential" title="Personal Credential"
		action="action-fb-personal-credential" parent="menu-fb-sn" icon="img/login.png" />
	<action-view name="action-fb-personal-credential" model="com.axelor.sn.db.PersonalCredential"
		title="Facebook Personal Credentials">
		<view type="grid" name="personal-credential-grid" />
		<view type="form" name="personal-credential-form" />
		<!-- userId -->
		<domain>self.userId=:u_ser and self.snType.name=:sn</domain>
		<context name="sn" expr="Facebook" />
		<context name="u_ser" expr="eval:__user__" />

	</action-view>

	<!-- <menuitem name="menu-fb-sn-searchresult" title="Search Result" -->
	<!-- action="action-fb-searchResult" parent="menu-fb-sn" /> -->
	<!-- <action-view name="action-fb-searchResult" model="com.axelor.sn.db.SearchResult" -->
	<!-- title="Search"> -->
	<!-- <view type="grid" name="result" /> -->
	<!-- <view type="form" name="result-form" /> -->
	<!-- </action-view> -->

	<menuitem name="menu-fb-sn-news-feed" title="News Feed"
		action="action-fb-sn-news-feed" parent="menu-fb-sn" icon="img/newsfeed.png" />
	<action-view name="action-fb-sn-news-feed" model="com.axelor.sn.db.FBNewsFeed"
		title="News Feed">
		<view type="grid" name="fb-news-feed" />
		<view type="form" name="fb-news-feed-form" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>


	<menuitem name="menu-fb-sn-postmsg" title="Status" action="action-fb-post-msg"
		parent="menu-fb-sn" icon="img/status.png" />
	<action-view name="action-fb-post-msg" model="com.axelor.sn.db.PostMessage"
		title="Post Status">
		<view type="grid" name="post-msg-grid" />
		<view type="form" name="post-msg-form" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-fb-sn-postevent" title="Event"
		action="action-fb-post-event" parent="menu-fb-sn" icon="img/eventfb.png" />
	<action-view name="action-fb-post-event" model="com.axelor.sn.db.PostEvent"
		title="Post Event">
		<view type="grid" name="post-event-grid" />
		<view type="form" name="post-event-form1" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-fb-sn-import-contact" title="Contact(s)"
		action="action-fb-import-contact" parent="menu-fb-sn" icon="img/fbcontact.jpg" />
	<action-view name="action-fb-import-contact" model="com.axelor.sn.db.ImportContact"
		title="Import Facebook Contacts">
		<view type="grid" name="import-contact-grid" />

		<view type="form" name="import-contact-formNew" />
		<domain>self.curUser=:u_ser AND self.snType.name=:sn_type</domain>
		<context name="sn_type" expr="Facebook" />
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-fb-notif" title="Notification(s)" parent="menu-fb-sn"
		icon="img/notifications.jpg" action="action-fb-notif" />
	<action-view name="action-fb-notif" model="com.axelor.sn.db.FacebookNotification"
		title="Notifications">
		<view type="grid" name="fb-notif-grid" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-fb-inbox" title="Inbox" action="action-fb-inbox"
		parent="menu-fb-sn" icon="img/fbinbox.jpg" />
	<action-view name="action-fb-inbox" model="com.axelor.sn.db.FBInbox"
		title="Message Inbox">
		<view type="grid" name="fbibox-msg-grid" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-fb-frn-req" title="Friend Request(s)"
		parent="menu-fb-sn" action="action-fb-frn-req" icon="img/fbFriendReq.jpg" />
	<action-view name="action-fb-frn-req" model="com.axelor.sn.db.FBFriendrequest"
		title="Pendin Friend Request">
		<view type="grid" name="fb-req-grid" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-fb-sn-pages-main" title="Page(s)" parent="menu-fb-sn"
		icon="img/fbpages.gif" />

	<menuitem name="menu-fb-sn-pages" title="Import"
		parent="menu-fb-sn-pages-main" action="action-fb-pages" icon="img/page.png" />
	<action-view name="action-fb-pages" model="com.axelor.sn.db.FBPages"
		title="Own Page(s)">
		<view type="grid" name="fb-page-grid" />
		<view type="form" name="fb-page-form" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-fb-sn-page-post" title="Post" icon="img/status.png"
		parent="menu-fb-sn-pages-main" action="action-fb-page-post" />
	<action-view name="action-fb-page-post" model="com.axelor.sn.db.FBPagePost"
		title="Page Post">
		<view type="grid" name="fb-page-post" />
		<view type="form" name="fb-page-post-form" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-fb-Sn-SearchPerson" title="Search"
		action="action-fb-search-person" parent="menu-fb-sn" icon="img/Search.png" />
	<action-view name="action-fb-search-person" model="com.axelor.sn.db.SearchPerson"
		title="Search">
		<view type="grid" name="search-grid" />
		<view type="form" name="search-form" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-param-config" title="Parameter Configration"
		action="action-param-config" parent="menu-fb-sn" icon="img/parameter.jpg" />
	<action-view name="action-param-config" model="com.axelor.sn.db.ConfigParameter"
		title="Parameter(s)">
		<view type="grid" name="param-config-grid" />
		<view type="form" name="param-config-form" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>





	<!-- FIRST LEVEL MENU FOR TWITTER -->

	<menuitem name="menu-twt-sn" title="Twitter" parent="menu-sn"
		icon="img/twitterLogo.png" />

	<menuitem name="menu-twt-personal-credential" title="Personal Credential"
		action="action-twt-personal-credential" parent="menu-twt-sn" icon="img/login.png" />
	<action-view name="action-twt-personal-credential" model="com.axelor.sn.db.PersonalCredential"
		title="Twitter Personal Credentials">
		<view type="grid" name="twitter-credential-grid" />
		<view type="form" name="twitter-credential-form" />
		<!-- userId -->
		<domain>self.userId=:u_ser and self.snType.name=:sn</domain>
		<context name="sn" expr="Twitter" />
		<context name="u_ser" expr="eval:__user__" />

	</action-view>

	<menuitem name="menu-twt-home-timeline" title="Home"
		icon="img/twitterHome.png" parent="menu-twt-sn" action="action-twt-home-timeline" />
	<action-view name="action-twt-home-timeline" model="com.axelor.sn.db.TwitterHomeTimeline"
		title="Timeline">
		<view type="grid" name="twt-timeline-grid" />
		<view type="form" name="twt-timeline-form"/>
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-twt-post-tweet" title="Tweet(s)" parent="menu-twt-sn"
		action="action-twt-post-tweet" icon="img/twt.png" />
	<action-view name="action-twt-post-tweet" model="com.axelor.sn.db.PostTweet"
		title="Post Tweets">
		<view type="grid" name="post-tweet-grid" />
		<view type="form" name="post-tweet-form" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>


	<menuitem name="menu-twt-sn-import-contact" title="Follower(s)"
		action="action-twt-import-contact" parent="menu-twt-sn" icon="img/Followers.jpg" />
	<action-view name="action-twt-import-contact" model="com.axelor.sn.db.ImportContact"
		title="Import Twitter Followers">
		<view type="grid" name="twt-import-contact-grid" />

		<view type="form" name="twt-import-contact-form" />
		<domain>self.curUser=:u_ser AND self.snType.name=:sn_type</domain>
		<context name="u_ser" expr="eval:__user__" />
		<context name="sn_type" expr="Twitter" />
	</action-view>

	<menuitem name="menu-twt-direct-msg" title="Direct Message"
		action="action-direct-msg-disp" parent="menu-twt-sn" icon="img/compose.png" />
	<action-view name="action-direct-msg-disp" model="com.axelor.sn.db.DirectMessage"
		title="Send Messages">
		<view type="form" name="direct-msg-form" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-twt-inbox" title="Inbox" action="action-twt-inbox"
		parent="menu-twt-sn" icon="img/Mail.png" />
	<action-view name="action-twt-inbox" model="com.axelor.sn.db.TwitterInbox"
		title="Twiter Inbox Messages">
		<view type="grid" name="twt-inbox-grid" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-twt-follower-request" title="Follower(s) Request"
		parent="menu-twt-sn" action="action-twt-follower-request" icon="img/twitter_follow_button.png" />
	<action-view name="action-twt-follower-request" model="com.axelor.sn.db.TwitterFollowerRequest"
		title="Pending Request">
		<view type="grid" name="twt-follower-grid" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>

	<menuitem name="menu-twt-param-config" title="Parameter Configuration"
		icon="img/parameter.jpg" parent="menu-twt-sn" action="action-twt-param-config" />
	<action-view name="action-twt-param-config" model="com.axelor.sn.db.TwitterConfig"
		title="Parameter Configuration">
		<view type="grid" name="twt-config-grid" />
		<view type="form" name="twt-config-form" />
		<domain>self.curUser=:u_ser</domain>
		<context name="u_ser" expr="eval:__user__" />
	</action-view>



	<!-- LINKED IN MENU -->
	<menuitem name="menu-linkedin" parent="menu-sn" title="LinkedIn"
		icon="img/linkedin-icon-vector.jpg" />
	<menuitem name="menu-personal-credential" parent="menu-linkedin"
		title="Personal Credentials" action="personalCredential" icon="img/login.png" />
	<action-view name="personalCredential" title="Credentials"
		model="com.axelor.sn.db.PersonalCredential">
		<view type="grid" name="personal-credentials-grid" />
		<view type="form" name="personal-credentials-form" />
		<domain>self.userId=:u_ser AND self.snType.name=:sntype</domain>
		<context name="u_ser" expr="eval:__user__" />
		<context name="sntype" expr="Linkedin" /><!-- <domain>self.userId 
			= :user_id</domain> --><!-- <context name="user_id" 
			expr="eval:__user__" /> -->
	</action-view>
	<menuitem name="menu-linkedin-contact" parent="menu-linkedin"
		title="Contacts" action="importContact" icon="img/LINcontact.png" />
	<action-view name="importContact" title="Contacts"
		model="com.axelor.sn.db.ImportContact">
		<view type="grid" name="import-contacts-grid" />
		<view type="form" name="import-contacts-form" />
		<domain>self.curUser = :user_id and self.snType.name=:snt</domain>
		<context name="user_id" expr="eval:__user__" />
		<context name="snt" expr="Linkedin" />
	</action-view>
	<menuitem name="menu-linkedin-message" parent="menu-linkedin"
		title="Messages" action="send.message" icon="img/LINMSG.jpg" />
	<action-view name="send.message" title="Messages"
		model="com.axelor.sn.db.DirectMessages">
		<view type="grid" name="direct-message-grid" />
		<view type="form" name="direct-message-form" />
		<domain>self.curUser = :user_id</domain>
		<context name="user_id" expr="eval:__user__" />
	</action-view>
	<menuitem name="menu-linkedin-post" parent="menu-linkedin"
		title="Status Updates" action="updatePost" icon="img/LInUpdate.jpg" />
	<action-view name="updatePost" title="Posts"
		model="com.axelor.sn.db.PostUpdates">
		<view type="grid" name="post-grid" />
		<view type="form" name="post-form" /><!-- <view type="form" name="comment-form"/> -->
		<domain>self.curUser = :user_id</domain>
		<context name="user_id" expr="eval:__user__" />
	</action-view>
	<menuitem name="menu-linkedin-network-updates" parent="menu-linkedin"
		title="Network Updates" action="network.updates" icon="img/LINnw.jpg" />
	<action-view name="network.updates" title="Updates"
		model="com.axelor.sn.db.NetworkUpdates">
		<view type="grid" name="network-update-grid" />
		<view type="form" name="network-update-form" />
		<domain>self.curUser = :user_id</domain>
		<context name="user_id" expr="eval:__user__" />
	</action-view>
	<menuitem name="menu-linkedin-groups" parent="menu-linkedin"
		title="Groups" icon="img/LINgroups.jpg" />
	<menuitem name="menu-linkedin-groups-list" parent="menu-linkedin-groups"
		title="Memberships" action="membership-view" icon="img/LINMember.jpg" />
	<action-view name="membership-view" title="Memberships"
		model="com.axelor.sn.db.GroupMember">
		<view type="grid" name="linkedin-group-membership-grid" />
		<view type="form" name="linkedin-group-membership-form" />
		<domain>self.curUser = :user_id</domain>
		<context name="user_id" expr="eval:__user__" />
	</action-view>
	<menuitem name="menu-linkedin-groups-disussion" parent="menu-linkedin-groups"
		title="Discussions" action="discussion-view" icon="img/LINGD.jpg" />
	<action-view name="discussion-view" title="Discussions"
		model="com.axelor.sn.db.GroupDiscussion">
		<view type="grid" name="group-discussion-grid" />
		<view type="form" name="group-discussion-form" />
		<domain>self.curUser = :user_id and self.discussionByCurrentUser =:current_user</domain>
		<context name="user_id" expr="eval:__user__" />
		<context name="current_user" expr="true" />
	</action-view>

	<menuitem name="menu-parameter-config" parent="menu-linkedin"
		title="Parameter Configurations" action="parameterConfig" icon="img/parameter.jpg" />
	<action-view name="parameterConfig" title="Parameters"
		model="com.axelor.sn.db.LinkedinParameters">
		<view type="grid" name="LINparam-config-grid" />
		<view type="form" name="LINparam-config-form" />
		<domain>self.curUser = :user_id</domain>
		<context name="user_id" expr="eval:__user__" />
	</action-view>

	<!-- First Level menu CONFIGRATION -->

	<menuitem name="menu-config" title="Configration" parent="menu-sn"
		groups="admins" icon="img/wrench.png" />


	<!-- SOCIAL NETWORKING'S-APPLICATION CREDENTIAL AND TYPES -->

	<menuitem name="menu-sn-entry" title="Social Networking Types"
		action="action-sn-credential" parent="menu-config" icon="img/socialnw.jpeg" />
	<action-view name="action-sn-credential" model="com.axelor.sn.db.SocialNetworking"
		title="Social Networking Entry">
		<view type="grid" name="sn-grid" />
		<view type="form" name="sn-form" />
		<!-- <domain>self.userId=:u_ser</domain> -->
		<!-- <context name="u_ser" expr="Administrator"/> -->
	</action-view>

	<menuitem name="menu-fb-credential" title="Social Networking Application Credential"
		action="action-fb-credential" parent="menu-config" icon="img/App.png" />
	<action-view name="action-fb-credential" model="com.axelor.sn.db.ApplicationCredentials"
		title="Application Credentials">
		<view type="grid" name="application-credential-grid" />
		<view type="form" name="application-credential-form" />
		<!-- <domain>self.userId=:u_ser</domain> -->
		<!-- <context name="u_ser" expr="1" /> -->
	</action-view>

	<menuitem name="menu-view-controller" title="View Controller"
		action="action-view-controller" parent="menu-config" icon="img/viewconroller.jpg" />
	<action-view name="action-view-controller" model="com.axelor.sn.db.ViewController"
		title=" Restriction on View">
		<view type="form" name="view-control-form" />
		<!-- <domain>self.parent=:menu_val</domain> -->
		<!-- <context name="menu_val" expr="Social Networking"/> -->
	</action-view>


</object-views>

